@page
@model NoteBoard.Pages.RegisterModel
@{
}

<div class="conteiner mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb">Register</h1>

            <form method="post"
        </div>

    </div>





</div>
